# Godot 4+ specific ignores
.godot/
/android/
/addons/godot-sqlite/bin
/addons/limboai/bin
/addons/ibproject/release/.fingerprint
/addons/ibproject/release/build
/addons/ibproject/release/deps
/addons/ibproject/release/examples
/addons/ibproject/release/incremental
/addons/ibproject/debug/.fingerprint
/addons/ibproject/debug/build
/addons/ibproject/debug/deps
/addons/ibproject/debug/examples
/addons/ibproject/debug/incremental


addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll
addons/limboai/bin/~liblimboai.windows.editor.x86_64.dll
rust_script/ibproject/target